version: '3.9'

services:
  redis:
    image: redis:7.2
    ports:
      - '6379:6379'
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped
    volumes:
      - redis-data:/data

  api:
    build:
      context: ../..
      dockerfile: example/image_processor/Dockerfile.api
      target: dev
    env_file:
      - .env
    environment:
      PORT: ${PORT:-8083}
    ports:
      - "${PORT:-8083}:8083"
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build:
      context: ../..
      dockerfile: example/image_processor/Dockerfile.worker
      target: dev
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis-data:
